/*Form input float label*/
.div-float .input-group {
    flex-wrap: inherit !important;
}

.has-float-label {
    width: 100%;
    position: relative;
	margin-bottom: 1rem;
}

.input-group-addon {
    padding: .5rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	color: #55595c;
	text-align: center;
	background-color: #eceeef;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.input-group-addon,
.input-group-btn {
    width: auto;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

.has-float-label label {
    position: absolute;
	left: 0;
	top: 0;
	cursor: text;
	font-size: 75%;
	opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
	top: -.5em;
	left: 12px;
	z-index: 3;
	line-height: 1;
	padding: 0 1px;
	text-decoration: none;
}

.has-float-label label::after {
    content: " ";
	display: block;
	position: absolute;
	background: transparent;
	height: 2px;
	top: 50%;
	left: -.2em;
	right: -.2em;
	z-index: -1;
	text-decoration: none;
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    opacity: .5;
	top: .30em;
	font-weight: normal;
	text-decoration: none;
}

.input-group .has-float-label {
    display: table-cell;
}

.input-group .has-float-label .form-control {
    border-radius: 4px;
}

.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.has-float-label input:focus,
.has-float-label textarea:focus,
.has-float-label select:focus {
    border-color: #0d47a1;
    box-shadow: none;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 100%;
        margin-top: 4px;
}

.has-float-label:last-child .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.icon-inside {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}

.icon-inside-form {
	position: absolute;
	top: 12px;
	right: 310px;
	outline: none !important;
	box-shadow: none !important;
}

.spin-x {
	width: 1rem;
	height: 1rem;
	border-width: 0.1em;
}

.spin-1x {
	width: 1.2rem;
	height: 1.2rem;
	border-width: 0.1em;
}

.spin-2x {
	width: 2rem;
	height: 2rem;
	border-width: 0.1em;
}

.spin-3x {
	width: 3rem;
	height: 3rem;
	border-width: 0.1em;
}

.swal-button--eliminar {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.swal-button--eliminar:hover {
	background-color: #bb2d3b !important;
	border: 1px solid #bb2d3b;
}

.nav-tabs .nav-link.active:hover, .nav-link.active:focus-within, .nav-link.active:focus-visible, .nav-link.active:focus {
    color: #fff;
    background-color: #55595c;
    border-color: #55595c;
}

.txtOtp {
	text-align: center!important;
	display: block;
	width: 100%;
	height: calc(2.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	border-radius: 0.25rem;
	border-radius: 0.25rem !important;
	margin: 0.5rem !important;
	overflow: visible;
	word-wrap: break-word;
	text-transform: uppercase;
}